.new-post {
    width: 100%;
    height: 100rem;
    background-color: coral;
    display: flex; /* отменяет схлопывание */
    flex-direction: column;
}

.new-post__head {
    width: 100%;
    height: 25rem;
    background-color: cornsilk;
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
}

.new-post__cover {
    width: 25rem;
    height: 25rem;
    background-color: crimson;
}

.new-post__info {
    width: 75%;
    background-color: cyan;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.new-post__input-field {
    width: 60%;
    background-color: white;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    height: 4rem;
}

.new-post__input {
    display: block;
    position: relative; 
    width: 90%;
    outline: none;
    font-size: 2rem;
    font-weight: 100;
    border: none;
}

.new-post__body {
    background-color: cadetblue;
    /* height: 55rem; */
    display: flex;
    flex-direction: column;
}

.new-post__content {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: tomato;
    /* height: 50rem; */
    margin-top: 5rem;
}

.new-post__origin-text {
    width: 45%;
    background-color: chartreuse;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-post__translated-text {
    width: 45%;
    background-color: wheat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-post__text-title {
    font-size: 2rem;
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: violet;
    border-radius: 20px;
}

.new-post__text {
    width: 100%;
    outline: none;
    height: 45rem;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.new-post__lyrics {
    display: block;
    width: 100%;
    outline: none;
    font-size: 2rem;
    text-align: center;
    border-radius: 10px;
    resize: none; 
    height: 100%;
    border: none;
}

.new-post__footer {
    width: 100%;
    height: 10rem;
    background-color: thistle;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-post__btn {
    width: 30%;
    height: 6rem;
    border: none;
}

@media screen and (max-width: 1000px) {

    .new-post {
        min-height: 200rem;
    }

    .new-post__head {
        height: 65rem;
        flex-direction: column;
        align-items: center;
        justify-content: unset;
    }

    .new-post__info {
        width: 100%;
        height: 40rem;
    }
    
    .new-post__input-field {
        width: 100%;
        height: 6rem;
    }

    .new-post__input {
        font-size: 3rem;
    }

    .new-post__content {
        flex-direction: column;
    }

    .new-post__translated-text, .new-post__origin-text {
        width: 100%;
    }

    .new-post__lyrics {
        width: 90%;
    }

    .new-post__lyrics::placeholder {
        font-size: 3rem;
    }
}