.new-post {
    width: 100%;
    height: 125rem;
    display: flex;
    /* отменяет схлопывание */
    flex-direction: column;
}

.new-post__head {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-around;
    margin-top: 5rem;
    background-color: rgba(0, 0, 0, 0.062);
    border-radius: 10px;
}

.new-post__cover-download {
    width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.new-post__download-btn {
    height: 10%;
}

.new-post__file-input {
    display: none;
}

.new-post__cover {
    width: 25rem;
    height: 25rem;
    background-image: url(/images/empty_cover.jpg);
    background-size: cover;
    border-radius: 10px;
}

.new-post__info {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.new-post__input-wrap {
    width: 100%;
    /* background-color: white;
    display: flex;
    justify-content: center;
    border-radius: 30px; */
    height: 15%;
}

.new-post__input-field {
    /* width: 90%;
    outline: none;
    font-size: 2rem;
    font-weight: 100;
    border: none; */
}

.new-post__body {
    height: 65%;
    display: flex;
    flex-direction: column;
}

.new-post__content {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.021);
}

.new-post__text {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}



.new-post__lyrics-title {
    font-size: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    height: 10%;
    margin-top: 5%;
    background-color: rgba(0, 0, 0, 0.062);
    border-radius: 10px;
}

.new-post__lyrics {
    width: 100%;
    outline: none;
    display: flex;
    justify-content: center;
    height: 80%;
    margin-top: 5%;
}

.new-post__textarea {
    display: block;
    width: 100%;
    outline: none;
    font-size: 2rem;
    text-align: center;
    border-radius: 10px;
    resize: none;
    border: none;
}

.new-post__footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    background-color: rgba(0, 0, 0, 0.062);
    border-radius: 10px;
}

.new-post__btn {
    width: 30%;
    border: none;
    height: 50%;
    font-size: 2rem;
}

@media screen and (max-width: 1000px) {

    .new-post {
        min-height: 200rem;
    }

    .new-post__head {
        flex-direction: column;
        align-items: center;
        justify-content: unset;
        height: 30%;
    }

    .new-post__cover-download {
        display: flex;
        width: 70%;
        align-items: center;
        justify-content: center;
    }

    .new-post__download-btn {
        height: 15%;
        width: 40%;
        font-size: 3rem;
    }

    .new-post__info {
        width: 100%;
        height: 60%;
    }

    .new-post__input-wrap {
        width: 100%;
    }

    .new-post__input-field {
        font-size: 3rem;
    }

    .new-post__content {
        flex-direction: column;
    }

    .new-post__text {
        width: 100%;
    }

    .new-post__lyrics-title {
        font-size: 3rem;
    }

    .new-post__textarea {
        width: 90%;
    }

    .new-post__textarea::placeholder {
        font-size: 3rem;
    }

    .new-post__footer {
        height: 5%;
    }
}