* {
    margin: 0;
    padding: 0;
}

div {
    position: relative;
}

html {
    width: 100%;
    min-height: 100%; /* Минимальная высота */
    font-size: 10px;
    background: palegoldenrod;
}

body {
    width: 100%;
    min-height: 100%;
    background: palegreen;
}

.header {
    display: flex;
    background: orange;
    height: 8rem;
    flex-direction: row;
}

.logo {
    width: 15%;
    height: 100%;
    background: pink;
}

.menu {
    display: flex;
    width: 20%;
    height: 100%;
    flex-direction: row;
}

.menuAvatar {
    width: 35%;
    background: gold;
}

.content {
    width: 70%;
    margin: auto; /* Выравнивание по середине */
    background: orchid;
    min-height: 100%;
}

.handle {
    height: 20rem;
    background: peru;
    width: 100%;
}

.handle_top{
    display: flex;
    height: 50%;
    width: 100%;
    background: white;
    flex-direction: row;
}

.searchInput {
    display: block;
    position: relative; 
    margin-left: 5%;
    width: 70%;
    height: 40%;
    top: 30%;
}

.searchBtn {
    display: block;
    position: relative;
    width: 15%;
    height: 40%;
    margin-right: 5%;
    margin-left: 5%;
    background: wheat;
    top: 30%;
}

.handle_bot{
    height: 50%;
    width: 100%;
    background: greenyellow;
}

.addBtn {
    top: 30%;
    display: block;
    position: relative;
    width: 33%;
    height: 40%;
    margin: auto;
    background: wheat;
}

.feed {
    background: red;
}

.post {
    display: flex;
    position: relative;
    height: 20rem;
    width: 80%;
    margin: auto;
    background: seagreen;
    margin-top: 5rem;
}

.postImg {
    width: 30%;
    height: 100%;
    background: honeydew;
}

.postText {
    width: 70%;
    height: 100%;
}

.postName {
    height: 30%;
}

.postName h1 {
    text-align: center;
}

.postAddtional {
    height: 30%;
    width: 100%;
    background: wheat;
}

.postInfo {
    height: 30%;
    width: 100%;
    background: #ff00ff;
    display: flex;
    flex-direction: row;
}

.post_bot_left {
    width: 30%;
    background: white;
}

.like {
    background: forestgreen;
    width: 50%;
    height: 100%;
    margin: auto;
}

.likeImg {
    display: block;
    margin: auto;
    width: 30px; 
    height: 30px;
}

.likeCounter {
    display: block;
    text-align: center;
    top: 10px;
    background: khaki;
    height: 30%;
}

.postAuthor {
    width: 70%;
}
.footer {
    width: 100%;
    background: orange;
    height: 8rem;
    margin-top: 5rem;
}