* {
    margin: 0;
    padding: 0;
}

div {
    position: relative;
}

a {
    text-decoration: none;
    color: black;
}

html {
    font-family: sans-serif;
    width: 100%;
    min-height: 100%; /* Минимальная высота */
    font-size: 10px;
    background-color: palegoldenrod;
}

body {
    width: 100%;
    min-height: 100%;
    background-color: palegreen;
}

.header {
    display: flex;
    background-color: orange;
    height: 8rem;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    width: 15%;
    height: 100%;
    background-color: pink;
}

.logoImg {
   width: 100%;
   height: 8rem;
}

.menu {
    display: flex;
    width: 20%;
    height: 100%;
    flex-direction: row;
}

.menuAvatar {
    width: 35%;
    height: 100%;
    background-color: gold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuAvatarImg {
    width: 6rem;
    height: 6rem;
    border-radius: 60px;
}

.content {
    width: 70%;
    margin: auto; /* Выравнивание по середине */
    background-color: orchid;
    min-height: 100%;
}

.title {
    display: flex;
    height: 10rem;
    justify-content: center;
    align-items: center;
    font-style: 10rem;
}

.handle {
    height: 20rem;
    background-color: peru;
    width: 100%;
}

.handle_top{
    display: flex;
    height: 50%;
    width: 100%;
    background-color: white;
    flex-direction: row;
}

.searchInput {
    display: block;
    position: relative; 
    margin-left: 5%;
    width: 70%;
    height: 40%;
    top: 30%;
    outline: none;
    font-size: 2rem;
}

.searchBtn {
    display: flex;
    position: relative;
    width: 15%;
    height: 40%;
    margin-right: 5%;
    margin-left: 5%;
    background-color: #2528ec;
    top: 30%;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
}

.handle_bot{
    height: 50%;
    width: 100%;
    background-color: greenyellow;
}

.addBtn {
    top: 30%;
    position: relative;
    width: 33%;
    height: 40%;
    margin: auto;
    background-color: #2528ec;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    font-size: 2rem;
    color: white;
}

.feed {
    background-color: red;
}

.post {
    display: flex;
    position: relative;
    height: 20rem;
    width: 80%;
    margin: auto;
    background-color: seagreen;
    margin-top: 5rem;
}

.postText {
    font-size: 1.5rem;
}

.postName {
    
}

.postImg {
    width: 30%;
    
    background-color: honeydew;
}

.cover {
    width: 100%;
    height: 100%;
}

.postText {
    width: 70%;
    height: 100%;
}

.postName {
    height: 30%;
}

.postName h1 {
    text-align: center;
}

.postAddtional {
    height: 30%;
    width: 100%;
    background-color: wheat;
}

.postInfo {
    height: 30%;
    width: 100%;
    background-color: #ff00ff;
    display: flex;
    flex-direction: row;
}

.post_bot_left {
    width: 30%;
    background-color: white;
}

.like {
    background-color: forestgreen;
    width: 50%;
    height: 100%;
    margin: auto;
}

.likeImg {
    display: block;
    margin: auto;
    width: 2rem; 
    height: 2rem;
}

.likeCounter {
    display: block;
    text-align: center;
    top: 10px;
    background-color: khaki;
    height: 30%;
}

.postAuthor {
    width: 70%;
}
.footer {
    width: 100%;
    background-color: orange;
    height: 8rem;
    margin-top: 5rem;
}