<!DOCTYPE html>
<html lang="ru">

<head>
    <link rel="stylesheet" href="/css/login_page.css" />
    <meta charset="UTF-8">
    <title>Вход</title>
</head>

<body class="page">
    <div class="content">
        <div class="login">
            <div class="login__header">
            </div>
            <div class="login__content">
                <form class="login-form" action="#" enctype="multipart/form-data" method="post">
                    <input type="text" class="login-form__username" placeholder="Имя пользователя">
                    <input type="password" class="login-form__password" placeholder="Пароль">
                    <div class="login-form__btn"><a href="/templates/start_page.html">Войти</a></div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>