<!DOCTYPE html> <!-- Тип документа -->
<html lang="ru">

<head>
    <meta charset="UTF-8"> <!-- Кодировка документа Unicode-->
    <title>Lyricaly</title>
    <link rel="stylesheet" href="/css/start_page.css">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Kosugi+Maru|Poiret+One&display=swap" rel="stylesheet">
    <!-- <script src="/js/start_page.js"></script> -->
</head>

<body class="page">
    <header class="header">
        <div class="logo"><img class="logo__img" src="/images/logo2.png"></img></div>
        <div class="menu-section">
            <div class="avatar"><img class="avatar__img" src="/images/avatar.png"></img></div>
            <div class="menu">
                <ul class="menu-list">
                    <li class="menu-list__item""><a href=" #">Профиль</a></li>
                    <li class="menu-list__item"><a href="#">Выйти</a></li>
                </ul>
            </div>
        </div>
    </header>
    <div class="content page__content">
        <div class="content__head">
            <div class="search content__search">
                <input class="search__input" placeholder="Введите название группы или песни">
                <a class="btn search__btn" href="#">Искать</a>
            </div>
            <div class="content__add">
                <a class="btn content__add-btn" href="#">+ Добавить перевод</a>
            </div>
        </div>
        <div class="feed">
            <div class="feed__title">
                <h1>Последние переводы</h1>
            </div>
            <div class="post">
                <div class="post-cover"><img class="post-cover__img" src="/images/poster.jpg"></img></div>
                <div class="post-info">
                    <div class="post-info__name">
                        <a href="#">
                            <h1>Skinny Puppy - Love in vein</h1>
                        </a>
                    </div>
                    <div class="post-info__addtional">
                        <p>Last Rights, 1992</p>
                    </div>
                    <div class="post-additional">
                        <div class="post-stats">
                            <div class="post-like">
                                <a href="#"><img class="post-like__img" src="/images/heart.png"></img></a>
                                <div class="post-like__counter">50</div>
                            </div>
                        </div>
                        <div class="post-author">
                            <div class="post-author__txt">
                                <a href="#">Автор: Schnellchen</a>
                            </div>
                        </div>
                        <div class="post-btn">
                            <a class="btn post-btn__btn" href="#">Читать</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="post">
                <div class="post-cover"><img class="post-cover__img" src="/images/poster2.jpg"></img></div>
                <div class="post-info">
                    <div class="post-info__name">
                        <a href="#">
                            <h1>Tool - Lateralus</h1>
                        </a>
                    </div>
                    <div class="post-info__addtional">
                        <p>Lateralus, 2002</p>
                    </div>
                    <div class="post-additional">
                        <div class="post-stats">
                            <div class="post-like">
                                <a href="#"><img class="post-like__img" src="/images/heart.png"></img></a>
                                <div class="post-like__counter">50</div>
                            </div>
                        </div>
                        <div class="post-author">
                            <div class="post-author__txt">
                                <a href="#">Автор: Schnellchen</a>
                            </div>
                        </div>
                        <div class="post-btn">
                            <a class="btn post-btn__btn" href="#">Читать</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="post">
                <div class="post-cover"><img class="post-cover__img" src="/images/poster3.jpg"></img></div>
                <div class="post-info">
                    <div class="post-info__name">
                        <a href="#">
                            <h1>IAMX - Mile Deep Hollow</h1>
                        </a>
                    </div>
                    <div class="post-info__addtional">
                        <p>Mile Deep Hollow EP, 2018</p>
                    </div>
                    <div class="post-additional">
                        <div class="post-stats">
                            <div class="post-like">
                                <a href="#"><img class="post-like__img" src="/images/heart.png"></img></a>
                                <div class="post-like__counter">50</div>
                            </div>
                        </div>
                        <div class="post-author">
                            <div class="post-author__txt">
                                <a href="#">Автор: Schnellchen</a>
                            </div>
                        </div>
                        <div class="post-btn">
                            <a class="btn post-btn__btn" href="#">Читать</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-overlay">
        <div class="modal-window">
            <div class="modal-window__title">
                <h1>Skinny Puppy - Love in vien</h1>
            </div>
            <div class="modal-window__content">
                <div class="modal-window__left">
                    <div class="modal-window__side-title">
                        <p>Русский</p>
                    </div>
                    <p>Розы белые
                        Кровь черная
                    </p>
                </div>
                <div class="modal-window__right">
                    <div class="modal-window__side-title">
                        <p>Английский</p>
                    </div>
                    <p>Roses are white
                        Blood is black</p>
                </div>
            </div>
        </div>
    </div>
    </div>
    <footer class="footer"></footer>
</body>

</html>