<!DOCTYPE html> <!-- Тип документа -->
<html lang="ru">

<head>
    <meta charset="UTF-8"> <!-- Кодировка документа Unicode-->
    <title>Lyricaly</title>
    <link rel="stylesheet" href="/css/start_page.css">
</head>

<body>
    <header class="header">
        <div class="logo">Картинка</div>
        <div style="width: 65%; height: 100%; background: white;">Серединка</div>
        <div class="menu">
            <div class="menuAvatar">Авка</div>
            <div class="menuMenu">Менюшка</div>
        </div>
    </header>
    <div class="content">
        <div style="height: 10%;">
            <h1>Последние переводы</h1>
        </div>
        <div class="handle">
            <div class="handle_top">
                <input class="searchInput" placeholder="Введите название группы или песни">
                <a class="searchBtn" href="#">Искать</a>
            </div>
            <div class="handle_bot">
                <a class="addBtn" href="#">Добавить</a>
            </div>
        </div>
        <div class="feed">fgfg
            <div class="translationPrev">fg</div>
            <div class="translationPrev">fg</div>
            <div class="translationPrev">fg</div>
        </div>
    </div>
    <footer class="footer">Я подвал</footer>
</body>

</html>