<!DOCTYPE html> <!-- Тип документа -->
<html lang="ru">

<head>
    <meta charset="UTF-8"> <!-- Кодировка документа Unicode-->
    <title>Lyricaly</title>
    <link rel="stylesheet" href="/css/start_page.css">
</head>

<body>
    <header class="header">
        <div class="logo">Картинка</div>
        <div class="menu">
            <div class="menuAvatar">Авка</div>
            <div class="menuMenu">Менюшка</div>
        </div>
    </header>
    <div class="content">
        <div class="title">
            <h1>Последние переводы</h1>
        </div>
        <div class="handle">
            <div class="handle_top">
                <input class="searchInput" placeholder="Введите название группы или песни">
                <a class="searchBtn" href="#">Искать</a>
            </div>
            <div class="handle_bot">
                <a class="addBtn" href="#">Добавить</a>
            </div>
        </div>
        <div class="feed">
            <div class="post">
                <div class="postImg"></div>
                <div class="postText">
                    <div class="postName">
                        <h1>Skinny Puppy - Love in vein</h1>
                    </div>
                    <div class="postAddtional">Last Rights, 1992</div>
                    <div class="postInfo">
                        <div class="post_bot_left">
                            <div class="like">
                                <a href="#"><img class="likeImg" src="/images/heart.png"></img></a>
                                <div class="likeCounter">50</div>
                            </div>
                        </div>
                        <div class="post_bot_right">Перевод предложил Schnellchen</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="post">
            <div class="postImg"></div>
            <div class="postText">
                <div class="postName">
                    <h1>Skinny Puppy - Love in vein</h1>
                </div>
                <div class="postAddtional">Last Rights, 1992</div>
                <div class="postInfo">
                    <div class="post_bot_left">
                        <div class="like">
                            <a href="#"><img class="likeImg" src="/images/heart.png"></img></a>
                            <div class="likeCounter">50</div>
                        </div>
                    </div>
                    <div class="post_bot_right">Перевод предложил Schnellchen</div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <footer class="footer">Я подвал</footer>
</body>

</html>