<!DOCTYPE html> <!-- Тип документа -->
<html lang="ru">

<head>
    <meta charset="UTF-8"> <!-- Кодировка документа Unicode-->
    <title>Lyricaly</title>
    <link rel="stylesheet" href="/css/user_page.css">
    <link rel="stylesheet" href="/css/start_page.css">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Kosugi+Maru|Poiret+One&display=swap" rel="stylesheet">
</head>

<body class="page">
    <header class="header" id="header">
        <div class="logo"><img class="logo__img" src="/images/logo2.png"></img></div>
        <div class="menu-section">
            <div class="menu-avatar"><img class="menu-avatar__img" src="/images/avatar.jpg"></img></div>
            <div class="menu">
                <p class="btn menu-btn" id="menu-btn">Меню</p>
                <ul class="menu-list" id="menu-list">
                    <li class="menu-list__item"><a href=" #">Профиль</a></li>
                    <li class="menu-list__item"><a href="#">Выйти</a></li>
                </ul>
            </div>
        </div>
    </header>
    <div class="content page__content">
        <div class="user-block content__user-block">
            <div class="user-avatar"><img class="user-avatar__img" src="/images/avatar.jpg"></div>
            <div class="user-info">
                <div class="user-info__name">
                    <h1>Schnellchen</h1>
                </div>
                <div class="user-info__description">
                    <h1>О себе:</h1>
                    <p>Я парень простой. Был когда-то кулинаром, тепер стал меломаном. Ну что-ж поделать!</p>
                </div>
            </div>
        </div>
        <div class="user-posts">
            <div class="user-posts__feed">
                <div class="post">
                    <div class="post-cover"><img class="post-cover__img" src="/images/poster.jpg"></img></div>
                    <div class="post-info">
                        <div class="post-info__name">
                            <a href="#">
                                <h1>Skinny Puppy - Love in vein</h1>
                            </a>
                        </div>
                        <div class="post-info__addtional">
                            <p>Last Rights, 1992</p>
                        </div>
                        <div class="post-additional">
                            <div class="post-stats">
                                <div class="post-like">
                                    <a href="#"><img class="post-like__img" src="/images/heart.png"></img></a>
                                    <div class="post-like__counter">50</div>
                                </div>
                            </div>
                            <div class="post-btn">
                                <a class="btn post-btn__btn" id="open-button-1" href="#">Читать</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="post">
                    <div class="post-cover"><img class="post-cover__img" src="/images/poster2.jpg"></img></div>
                    <div class="post-info">
                        <div class="post-info__name">
                            <a href="#">
                                <h1>Tool - Lateralus</h1>
                            </a>
                        </div>
                        <div class="post-info__addtional">
                            <p>Lateralus, 2002</p>
                        </div>
                        <div class="post-additional">
                            <div class="post-stats">
                                <div class="post-like">
                                    <a href="#"><img class="post-like__img" src="/images/heart.png"></img></a>
                                    <div class="post-like__counter">50</div>
                                </div>
                            </div>
                            <div class="post-btn">
                                <a class="btn post-btn__btn" href="#">Читать</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="post">
                    <div class="post-cover"><img class="post-cover__img" src="/images/poster3.jpg"></img></div>
                    <div class="post-info">
                        <div class="post-info__name">
                            <a href="#">
                                <h1>IAMX - Mile Deep Hollow</h1>
                            </a>
                        </div>
                        <div class="post-info__addtional">
                            <p>Mile Deep Hollow EP, 2018</p>
                        </div>
                        <div class="post-additional">
                            <div class="post-stats">
                                <div class="post-like">
                                    <a href="#"><img class="post-like__img" src="/images/heart.png"></img></a>
                                    <div class="post-like__counter">50</div>
                                </div>
                            </div>
                            <div class="post-btn">
                                <a class="btn post-btn__btn" href="#">Читать</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-overlay closed" id="modal-overlay">
            <div class="modal-window">
                <div class="modal-window__header">
                    <div class="modal-window__title">
                        <h1>Skinny Puppy - Love in vien</h1>
                    </div>
                    <div class="modal-window__close">
                        <a id="close-button" href="#"><img class="modal-window__close-img"
                                src="/images/close.png"></img></a>
                    </div>
                </div>
                <div class="modal-window__content">
                    <div class="modal-window__left">
                        <div class="modal-window__side-title">
                            <p>Русский</p>
                        </div>
                        <div class="modal-window__text">
                            <p>[Мечты не бодрствования ползучей души тихий урны слушать звук сбой
                                Вниз врезаться в него иглу тепло в руке ожоги горла боль иллюзию боли
                                Боль]
                                Выйти на улицу посмотреть пустыми глазами мечтает о мечте непрерывного экономического
                                Репрессии играет роль Интересно, что им будет через боль .... ..... пропадает, острова
                                Органа по затемненной видеть, чтобы избежать болтать выявляются ленты лентой
                                человеческого
                                бормоча
                                Источник teksty-pesenok.ru
                                Предупреждение мерцание огней свечей burnsinside ..... боль, которая никогда не умирает
                                ползет
                                Вернуться и ждет лежит высокий подъем краев ребер исчерпывает ночи не поднимаясь выше
                                ...... обходы нечестивых провод перерезать горло взрывается пение вен нет желания
                                ......... Большой судьбы ...... человеческое сердце взрывается атакующих отметил палки в
                                язвы оружия
                                Wheres предупреждение предупредительный выстрел Lights Out Wheres предупреждение
                                ........
                                иглы
                                Теплая рука отправляется в сердце человеческом флаги сердце кровью ........ гало огня
                                Рубцы сделаны из пламени цветок вкус найти свою ценность звонки отключения строки
                                [Мечты не бодрствования ползучей души тихий урны слушать звук сбой
                                Вниз врезаться в него иглу тепло в руке ожоги горла боль иллюзию боли
                                Боль]
                                врезатьсява
                                ваы
                                ыв
                                ваываываввввввввввввввввввввввввввввввввв
                                вввввввввввввввввввввввввввввввввввв
                                ваываываввввввввввввввввввввввввввввввввв
                                вввввввввввввввввввввввввввввввввввв
                            </p>
                        </div>
                    </div>
                    <div class="modal-window__right">
                        <div class="modal-window__side-title">
                            <p>Английский</p>
                        </div>
                        <div class="modal-window__text">
                            <p>[Dreams not waking creeping down inside the quiet urns listen to the sound crashing
                                Down crashing into it the needle is warm in the arm throat burns illusion pain pain
                                Pain]
                                Walk out in the street see the vacant eyes dreaming of the dream unbroken economic
                                Repression plays a part i wonder what im going through....pain..... wasted away island
                                Body on a darkened see to avoid chattering taped tape taping human muttering
                                Источник teksty-pesenok.ru
                                Warning flicker lights the candle burnsinside..... a pain that never dies crawls up the
                                Back and waits for the lies tall climb edges edges exhausts no night climbing higher
                                ...... crawls wicked wire cut throat explodes singing of the the vein no desire
                                .........great fate...... human heart explodes attacking pointed sticks in sores the
                                arms
                                Wheres the warning warning shot the lights out wheres the warning ........ needle is
                                Warm in the arm travels to the heart human heart flags the blood ........ a halo of fire
                                Scarring made of flame the flower flavor find its worth calls the tripping strings
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer"></footer>
    <script src="/js/modal-window.js"></script>
    <script src="/js/dropdown-menu.js"></script>
</body>

</html>